html{
	width: 100%;
	margin:0% auto;
	height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin:0% auto;
}

a {
	color: #575FA0;
	text-decoration: none;
}

ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #303030;
}

.active {
	 background-color: #303030;
	 color: white;
	 width: 20%;
	 text-align: center;
	 padding: 1%;
	 font-size: 25px;
}

.flexlist {
	  display: flex;
	  align-items: stretch;
	  flex-direction: row;
}
 
.lbutton, .Logo {
	 background-color: #303030;
	 color: white;
	 width: 20%;
	 text-align: center;
	 font-size: 25px;
	float: left;
	height: 10%;
}

.lbutton:hover{
	background-color: #000000;
}

img{
	max-width:100%;
	height:auto;
	width:auto;
}

.userbuttton {
	 background-color: #303030;
	 color: white;
	 width: 20%;
	 text-align: center;
	 line-height: 10%;
	 font-size: 30px;
	float: right;
	}

.userbutton:hover{
	background-color: #000000;
}


li {
	float:left;
}

.linea{
	display:inline;
}

#right{
	position: relative;
}

#left{
	float:left;
	position: absolute;
	right:0;
}