.top {
    position:absolute;
    left:0; right:0;
}

.sidenav {
  height: 100%;
  width: 160px; /* Set the width of the sidebar */
  left: 0;
  background-color: #404040; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  color:white;
  padding: 6px 8px 6px 16px;
  position:relative;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 10%;
  color: #818181;
  display: block;
}

.sidenav img {
  border-radius: 50%;
  width:160px;
  height:160px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
    position: absolute;
    left:184px; top:83px; right:0; bottom:0;
}

.main p{
	margin-left:5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
